.edit-post {
  margin-top: 150px;
}

textarea {
  height: 150px !important;
}
.btn-brown {
  background-color: #512918;
  color: antiquewhite;
  border-radius: 15px;
}
.btn-brown:hover {
  background-color: #79432b;
}
.btn-beige {
  background-color: #b37f52;
  color: antiquewhite;
  border-radius: 15px;
}
.btn-beige:hover {
  background-color: #d19f73;
}

.btn-or {
  background-color: #b92909;
  color: antiquewhite;
  border-radius: 20px;
}
.btn-or:hover {
  background-color: #cf4222;
}
.myFont {
  color: #512918;
  font-weight: 700;
  font-size: 40px;
}
label {
  color: #512918;
}
.form-control {
  background-color: rgb(252, 250, 245);
  border: none;
  color: #512918;
}
.form-group {
  font-weight: 600;
}
input:focus,
textarea:focus {
  border-color: #512918;
  box-shadow: none;
}
