.edit-post {
  margin-top: 86px;
}

textarea {
  height: 150px !important;
}
.btn-brown {
  background-color: #512918;
  color: antiquewhite;
  border-radius: 15px;
}
.btn-beige {
  background-color: #b37f52;
  color: antiquewhite;
  border-radius: 15px;
}
.btn-or {
  background-color: #b92909;
  color: antiquewhite;
  border-radius: 20px;
}
