<nav class="navbar navbar-expand-sm navbar-light" id="neubar">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">
      <img src="../../../assets/gif.png" height="60" alt="Logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li *ngIf="utente" class="nav-item">
          <a
            class="nav-link mx-2"
            [routerLink]="['/']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li *ngIf="utente" class="nav-item">
          <a
            class="nav-link mx-2"
            [routerLink]="['profile']"
            routerLinkActive="active"
            >Profile</a
          >
        </li>
        <li *ngIf="utente" class="nav-item">
          <a
            class="nav-link mx-2"
            [routerLink]="['create']"
            routerLinkActive="active"
            >Create</a
          >
        </li>

        <li *ngIf="!utente" class="nav-item">
          <a
            class="nav-link mx-2"
            [routerLink]="['login']"
            routerLinkActive="active"
            >Login</a
          >
        </li>
        <li *ngIf="!utente" class="nav-item">
          <a
            class="nav-link mx-2"
            [routerLink]="['login']"
            routerLinkActive="active"
            >Register</a
          >
        </li>

        <li *ngIf="utente" class="nav-item">
          <a
            class="nav-link mx-2 text-danger"
            style="font-size: 20px"
            (click)="logout()"
            ><i class="bi bi-box-arrow-right"></i
          ></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
