<div class="container" style="margin-top: 100px">
  <div class="row justify-content-around">
    <div *ngFor="let user of users" class="card mt-5 col-3 px-0">
      <h5 class="card-header">{{ user.nome }} {{ user.cognome }}</h5>
      <div class="card-body mt-auto">
        <p class="card-text">
          {{ user.email }}
        </p>
        <p>{{ user.city }}</p>
        <p>Posts: {{ user.postsCount }}</p>
        <p>Comments: {{ user.commsCount }}</p>
        <a (click)="deleteUser(user.id)" class="btn btn-danger"
          ><i class="bi bi-hammer"></i> Ban User</a
        >
      </div>
    </div>
  </div>
</div>
<!-- <div>
  <h1>Numero Post : {{ posts.length }}</h1>
</div> -->
