<div class="container" style="margin-top: 100px">
  <div class="row">
    <div *ngFor="let user of users" class="card mt-5 col-3">
      <img *ngIf="" src="" class="card-img-top" alt="..." />
      <h5 class="card-title">{{ user.nome }} {{ user.cognome }}</h5>
      <div class="card-body mt-auto">
        <p class="card-text">
          {{ user.email }}
        </p>
        <p>{{ user.city }}</p>
        <a (click)="deleteUser(user.id)" class="btn btn-danger">Ban User</a>
      </div>
    </div>
  </div>
</div>
<div>
  <h1>Numero Post : {{ posts.length + 1 }}</h1>
</div>
