.height {
  height: 120px;
}

.headHeight {
  height: 49px;
}

.container-fluid {
  margin-top: 86px;
}

.brown-btn {
  background-color: #512918;
  color: #f3ebdc;
}

.beige-btn {
  background-color: #b37f52;
  color: #f3ebdc;
}
.btn {
  border-radius: 15px;
}
.card {
  border: none;
}

input {
  border: none;
  border-radius: 8px;
  margin-top: 70px;
  margin-bottom: 30px;
  padding: 8px 15px;
  color: #704837;
 
}

input:focus-visible,
input::placeholder {
  outline-color: #512918;
  color: #704837;
  text-align: start;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
button:hover {
  background-color: #704938;
  color: #fae8d2;
}

.input-icons {
  margin-bottom: 10px;
  position: relative;
}

.icon {
  padding: 10px;
  min-width: 40px;
  color: #704938;
  top: 68px;
  right: 0;
  left: 176px;
  position: absolute;
}

.input-field {
  text-align: center;
}
.card-header {
  background-color: rgb(252, 250, 245);
  color: #512918;
}
.card-body {
  background-color: rgb(252, 250, 245);
  color: #512918;
}
