.height {
  height: 120px;
}

.headHeight {
  height: 49px;
}

.container {
  margin-top: 130px;
}

.brown-btn {
  background-color: #512918;
  color: #f3ebdc;
}

.beige-btn {
  background-color: #b37f52;
  color: #f3ebdc;
}
.btn {
  border-radius: 15px;
}
.card {
  border: none;
}
