.newMargin {
  margin-top: 150px;
}
.btn-color {
  background-color: rgb(81, 41, 24);
  color: rgb(243, 235, 220);
  border-radius: 15px;
}
.card {
  border: none;
  background-color: 246;
}
.card-header {
  background-color: rgb(252, 250, 245);
  color: #512918;
}
.card-body {
  background-color: rgb(252, 250, 245);
  color: #512918;
}
